.app3{
    border: 1px solid #000;
    padding: 1vw 1vw;
}
.app3 .square{
    border: 1px solid blue;
    margin: 1vw 1vw;
    width: 10vw;
    height: 10vw;
    transition: 300ms linear;
}

.app3 .square.moveX{
    transform: translateX(15vw);
}